@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --border: 225 206 172;
  --background: 0 0 0;
  --foreground: 255 255 255;
  --primary: 0 0 0;
  --muted: 153 153 170;

  font-family: "Alegreya", "IBM Plex Sans", system-ui, -apple-system, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: 255 255 255;
    --foreground: 0 0 0;
    --primary: 255 255 255;
    --muted: 153 153 170;
  }
}
